/* Reset CSS */
* {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0, 5px;
}

h4,
h5 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p,
a,
form,
button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.container-fluid {
  background-color: azure;
}

/* Hero Section */

.hero {
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(49, 151, 247); */
  background-image: url(../assets/images/banner.gif);
}

.content-image img {
  padding: 10px;
  margin: 10px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 8px 16px 22px 5px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 8px 16px 22px 5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 8px 16px 22px 5px rgba(0, 0, 0, 0.65);
}

.content-description {
  text-align: center;
  border: #000000;
  color: white;
  text-shadow: -1px -2px 5px rgba(0,0,0,0.6);
  
  
}

/* About-me Section */

.about-me {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  text-align: center;
}

.about-me h2 {
  border-bottom: 2px solid blue;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  font-size: 2rem;
  color: #333;
}

.about-me p {
  text-align: center;
}

/* Work-Experience Section */

.work-experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: white;
}

.work-experience h2 {
  border-bottom: 2px solid blue;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  font-size: 2rem;
  color: #333;
}

.work-experience .experience {
  padding: 20px;
  margin-bottom: 10px;
  width: 50%;
  margin: 10px auto;
}

/* Skills Section */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: azure;
}


.skills h2 {
  border-bottom: 2px solid blue;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  font-size: 2rem;
  color: #333;
}


/* Certification Section */

.certifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: white;
}

.certifications h2 {
  border-bottom: 2px solid blue;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  font-size: 2rem;
  color: #333;
}

.carousel-caption {
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption h5 {
  color: #000000;
}

.carousel-caption p {
  color: #333333;
}

/* Projects Section */

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: azure;
}

.projects h2 {
  border-bottom: 2px solid blue;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  font-size: 2rem;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  /* Esto asegura que el contenido dentro de .container esté centrado */
}

.row {
  display: flex;
  justify-content: center;
  /* Centra las columnas dentro de .row */
}

.col-4 {
  margin: 10px;
  /* Espacio entre las columnas */
}

/* Contact Section */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: white;
}

.form {
  width: 500px;
}

.contact h2 {
  border-bottom: 2px solid blue;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  font-size: 2rem;
  color: #333;
}

footer {
  box-shadow: 8px 16px 22px 5px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 8px 16px 22px 5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 8px 16px 22px 5px rgba(0, 0, 0, 0.65);
  background-color: azure;
  display: flex;
  justify-content: space-around;
}

footer .links {
  justify-content: space-between;
}

/* Media query para celular */

@media (max-width: 480px) {
  .form {
    width: 200px;
  }
  .hero {
    flex-direction: column;
  }
}
